<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63690546236-5d3kn5suj1o8ohnht2qhe0vb68mbnh38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63690546236-5d3kn5suj1o8ohnht2qhe0vb68mbnh38</string>
	<key>API_KEY</key>
	<string>AIzaSyBgRtWLmbowwGVm3AVmKa_pC3TRZYQ5CZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>63690546236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.w3Class</string>
	<key>PROJECT_ID</key>
	<string>mobile-app-teamproject</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-app-teamproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63690546236:ios:1f0b0d24ebff3f4aeef739</string>
</dict>
</plist>